<div
  class="alert alert-danger alert-dismissible fade show text-center d-absolute"
  role="alert"
  *ngIf="isError"
>
  Please Enter Correct Details
</div>
<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="assets/login.svg" class="img-fluid" alt="Phone image" />
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <h2 class="p-2 text-center"><strong>Login as Admin</strong></h2>
        <form #f="ngForm">
          <label class="form-label" for="email">Email address</label>
          <div class="form-outline mb-4">
            <input
              type="email"
              id="email"
              class="form-control form-control-lg"
              ngModel
              required
              name="email"
            />
          </div>
          <label class="form-label" for="password">Password</label>
          <div class="form-outline mb-4">
            <input
              type="password"
              id="password"
              class="form-control form-control-lg"
              ngModel
              required
              name="password"
            />
          </div>
          <button
            type="submit"
            class="btn btn-primary btn-lg btn-block"
            (click)="onAdminLogin(f.value, f)"
          >
            Sign in
          </button>
          <p class="text-center h4">Or</p>
          <a href="/" class="btn btn-primary btn-lg btn-block"> Home </a>
        </form>
      </div>
    </div>
  </div>
</section>
