<div class="product_card">
  <div class="card border-1">
    <div class="card-header bg-transparent border-0 p-0">
      <div class="card-body p-2">
        <small>
          <a href="#" class="text-muted">{{ medicine.seller }}</a>
        </small>
        <strong>
          <a href="#" class="text-body">{{ medicine.name }}</a>
        </strong>
        <p class="card-text">
          {{ medicine.description }}
        </p>
        <div class="price">
          <span class="text-decoration-line-through"
            >&#8377; {{ medicine.price }}</span
          >
          <span class="text-warning"> &#8377; {{ medicine.price }}</span>
        </div>
        <div
          class="d-flex justify-content-around flex-wrap m-2"
          *ngIf="isCatalog"
        >
          <button
            type="button"
            class="btn btn-secondary"
            (click)="buyMedicine()"
          >
            Buy
          </button>
          <button type="button" class="btn btn-light" (click)="addToCart()">
            Add to cart
          </button>
        </div>
        <p
          *ngIf="isError || isSuccess"
          class="alert p-2 m-2"
          [ngClass]="{ 'alert-danger': isError, 'alert-success': isSuccess }"
        >
          {{ message }}
        </p>
      </div>
    </div>
  </div>
</div>
