<header id="header" class="header-section">
  <nav id="nav-bar" class="navbar navbar-expand-sm fixed-top">
    <div class="container">
      <a href="#" class="navbar-brand">
        <h3 class="d-inline align-middle">Medicare</h3>
      </a>
      <button
        class="navbar-toggler"
        data-toggle="collapse"
        data-target="#navbarNav"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="loginAdmin" class="nav-link">Login as Admin</a>
          </li>
          <li class="nav-item">
            <a href="loginUser" class="nav-link">Login as User</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<section class="landing-page">
  <div class="container text-white main-section-text">
    <p class="h1 font-weight-light text-center title">Welcome to Medicare</p>
    <a href="userSignUp" class="btn btn-info text-center">Get Started</a>
  </div>
</section>
